@import "tailwindcss";

.active {
    border-bottom: solid 3px rgb(0, 166, 255);
}

.active>svg>path {
    /* fill: rgb(0, 133, 205); */
    stroke: rgb(0, 133, 205);
}

.active-aso {

    color: rgb(0, 73, 112);
    border-bottom: solid 3px rgb(0, 99, 152);
}

.header {
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
}