@import "tailwindcss";

.active {
    border-bottom: solid 3px rgb(0, 166, 255);
}

.active>svg>path {
    /* fill: rgb(0, 133, 205); */
    stroke: rgb(0, 133, 205);
}

.active-aso {

    color: rgb(0, 73, 112);
    border-bottom: solid 3px rgb(0, 99, 152);
}

.header {
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
}

.success {
    animation-name: success;
    animation-duration: 0.2s;
    overflow: hidden;
}

@keyframes success {

    from {
        transform: scale(0.90);
        /* filter: blur(5px); */
    box-shadow: inset 0 -300px 0 0 rgba(255, 255, 255, 0.805);
    }
    to {
        transform: scale(1.005);    
    }


    
}